#header-container {
  height: 3rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
  padding-left: 0.5rem;
}
#app-title {
  margin: 0px;
}
.scores {
  margin: 0px;
}
#cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 0.5fr);
}
.animal-img {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem 1rem 0px 0px;
}
.animal-img:hover {
  cursor: pointer;
  filter: contrast(125%);
}
.card-container {
  border: black 2px solid;
  border-radius: 1rem;
  width: fit-content;
  margin: 0.5rem;
}

.animal-name {
  max-width: 8rem;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 0px;
}
.link-adopt {
  border: black 1px solid;
  border-radius: 1rem;
  padding: 1px 8px;
  text-decoration: none;
  float: right;
}
.link-adopt:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}
